body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(24, 20, 20); */
    margin: 0px;
    padding: 0px;

  }

.github-link {
    position: absolute;
    top: 70px; 
    right: 20px; 
    padding: 10px; 
    background-color: #a1f1f0; 
    border-radius: 5px; 
    font-size: 16px; 
    color: rgb(46, 35, 35); 
    text-decoration: none; 
    font-weight: bold;
}
 
.github-link:hover{
    background-color: #89e8e7;
} 

.dagshub-link {
  position: absolute;
  top: 120px; 
  right: 20px; 
  padding: 10px; 
  background-color: #a1f1f0; 
  border-radius: 5px; 
  font-size: 16px; 
  color: rgb(46, 35, 35); 
  text-decoration: none; 
  font-weight: bold;
}

.dagshub-link:hover{
  background-color: #89e8e7;
} 

.mlflow-link {
    position: absolute;
    top: 170px; 
    right: 20px; 
    padding: 10px; 
    background-color: #a1f1f0; 
    border-radius: 5px; 
    font-size: 16px; 
    color: rgb(46, 35, 35); 
    text-decoration: none; 
    font-weight: bold;
}    
.mlflow-link:hover{
    background-color: #89e8e7;
}  

  
  h1 {
    text-align: center;
    color: #ffffff;
  }

  h2 {
    text-align: left;
    color:#d0f1fa;
    margin-left: 50px;
  }
  
  label {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
    color:#DCAE96 ;
    min-inline-size: 70px;

  }
  
  input[type="text"], select {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
    margin-bottom: 10px;
    width: 17%;
    /* margin-right: 700px; */
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 83px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  